
body {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #D02332;
    margin: 6px 0;
  }
  

.header {
    display: flex;
    height: 10rem;
    width: 100%;
    text-align: center;
    background-color: #d9777f89;
    border-bottom: 2px solid #D02332;
}

.headerNav {
    display: grid;
    grid-template-rows: 30% 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.header2 {
    display: flex;
    gap: 40px;
    flex-direction: row;
    width: 100%;    
    justify-content: flex-end;
    background-color: white;
    text-align: center;
    align-items: center;
}

.header2 a {
    color: #D02332 ;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navListe {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    cursor: pointer;
}

.logo {
    width: 30%;
    padding: 0%;
    margin: 0%;
}

.entretienAccueil {
    background-image: url("/image_ecf/entretien1.png");
    background-size: cover;
    height: 70vh;
    background-position: center top;
    padding: 0;
    margin: 0;
}

.entretienAccueil h1 {
    color: #D02332;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding-top: 5rem;
}


.entretien1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    text-align: center;
}

.entretien {
    display: grid;
    grid-template-columns: 50% 35%;
    width: 70%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 8rem;
}

.entretien2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    font-size: 2.5rem;
    align-items: center;
    list-style: none;
}

.liEntretien {
    list-style: none;
}

.liEntretien li {
    padding: 1.5rem;
}

.iColor {
    color: #D02332;
    font-size: 2.5rem;
}

.footer {
    display: flex;
    background-image: url("/image_ecf/footer.jpg");
    width: 100%;
    height: 25rem;
    color: white;
    justify-content: space-evenly;
    padding-top: 5rem;
}

@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        font-family: Rajdhani;
        overflow-x: hidden;
    }
  
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
        text-align: center;
        background-color: #d9777f89;
        border-bottom: 2px solid #D02332;
    }

    .headerNav {
        display: flex;
        flex-direction: column;
        width: 80%;    
        align-items: center;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }

    .header2 {
        display: flex;
        flex-direction: column;
        width: 100%;    
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        text-align: center;
    }

    .logo {
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .navListe {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #d9777f89;
        left: 0;
        z-index: 1000;
    }

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .navListe.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .navList li {
        display: flex;
    }
    
    .navList a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }

    .entretienAccueil {
        background-image: url("/image_ecf/entretien1.png");
        background-size: cover;
        height: 30vh;
        background-position: center top;
        padding: 0;
        margin: 0;
    }
    
    .entretienAccueil h1 {
        color: #D02332;
        font-size: 4rem;
        text-align: center;
        margin: 0;
        padding-top: 5rem;
    }
    
    
    .entretien1 {
        display: flex;
        width: 70%;
        margin: 0 auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .entretien {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        overflow: hidden;
        padding-bottom: 8rem;
    }
    
    .entretien2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        font-size: 2.5rem;
        align-items: center;
        list-style: none;
    }
    
    .liEntretien {
        list-style: none;
    }
    
    .liEntretien li {
        padding: 1.5rem;
    }
    
    .iColor {
        color: #D02332;
        font-size: 2.5rem;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("/image_ecf/footer.jpg");
        width: 100%;
        height: auto;
        color: white;
        justify-content: space-evenly;
        padding-top: 5rem;
    }

}