
body {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    height: 10rem;
    width: 100%;
    text-align: center;
    background-color: #d9777f89;
    border-bottom: 2px solid #D02332;
}

.headerNav {
    display: grid;
    grid-template-rows: 30% 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.header2 {
    display: flex;
    gap: 40px;
    flex-direction: row;
    width: 100%;    
    justify-content: flex-end;
    background-color: white;
    text-align: center;
    align-items: center;
}

.header2 a {
    color: #D02332 ;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navListe {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    cursor: pointer;
}

.logo {
    width: 30%;
    padding: 0%;
    margin: 0%;
}

.occasionAccueil {
    background-image: url("/image_ecf/occasion.jpg");
    background-size: cover;
    height: 70vh;
    background-position: center top;
    padding: 0;
    margin: 0;
}

.occasionAccueil h1 {
    color: #D02332;
    font-size: 6rem;
    text-align: center;
    padding-top: 5rem;
    margin: 0;
}

.occasion1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    text-align: center;
}