
body {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #D02332;
    margin: 6px 0;
  }

.header {
    display: flex;
    height: 10rem;
    width: 100%;
    text-align: center;
    background-color: #d9777f89;
    border-bottom: 2px solid #D02332;
}

.headerNav {
    display: grid;
    grid-template-rows: 30% 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.header2 {
    display: flex;
    gap: 40px;
    flex-direction: row;
    width: 100%;    
    justify-content: flex-end;
    background-color: white;
    text-align: center;
    align-items: center;
}

.header2 a {
    color: #D02332 ;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navListe {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    cursor: pointer;
}

.logo {
    width: 30%;
    padding: 0%;
    margin: 0%;
}

.occasionAccueil {
    background-image: url("/image_ecf/occasion.jpg");
    background-size: cover;
    height: 70vh;
    background-position: center top;
    padding: 0;
    margin: 0;
}

.mainOccasion {
    padding-bottom: 5rem;
}

.occasionAccueil h1 {
    color: #D02332;
    font-size: 6rem;
    text-align: center;
    padding-top: 5rem;
    margin: 0;
}

.titreFiltre {
    font-size: 3rem;
    color: black;
    margin: 0;
    padding: 5rem;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
}

.filtre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 3rem;
}


.label {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0.5rem;
}

.filtreContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #D92332;
    background-color: #d9777f88;
    border-radius: 1rem;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border: 2px solid #D92332;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0 auto;
}


.occasion1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    text-align: center;
}

.vehiculeContener {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.vehiculeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 31rem;
    padding: 0;
    margin-top: 1rem;
    border: 1px solid #D02332;
    border-radius: 0.5rem;
    background-color: #d9777f89
}

.vehiculeName {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: max-content;
}

.imageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 15rem;
    height: 13rem;
    padding: 0;
    margin: 0;
}

.vehiculeDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 13rem;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.vehiculeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 25rem;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.vehiculeTextPrix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.vehiculeTextAnnee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.vehiculeTextKm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.vehiculeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border: 2px solid #D92332;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 3px;
    margin: 0 auto;
    background-color: white;
}


.footer {
    display: flex;
    background-image: url("/image_ecf/footer.jpg");
    width: 100%;
    height: 25rem;
    color: white;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.footer table {
    color: white;
}


@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        font-family: Rajdhani;
        overflow-x: hidden;
    }
  
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
        text-align: center;
        background-color: #d9777f89;
        border-bottom: 2px solid #D02332;
    }

    .headerNav {
        display: flex;
        flex-direction: column;
        width: 80%;    
        align-items: center;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }

    .header2 {
        display: flex;
        flex-direction: column;
        width: 100%;    
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        text-align: center;
    }

    .logo {
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .navListe {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #d9777f89;
        left: 0;
        z-index: 1000;
    }

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .navListe.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .navList li {
        display: flex;
    }
    
    .navList a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }


.occasionAccueil {
    background-image: url("/image_ecf/occasion.jpg");
    background-size: cover;
    height: 30vh;
    background-position: center top;
    padding: 0;
    margin: 0;
}

.mainOccasion {
    padding-bottom: 5rem;
}

.occasionAccueil h1 {
    color: #D02332;
    font-size: 4rem;
    text-align: center;
    padding-top: 5rem;
    margin: 0;
}

.titreFiltre {
    font-size: 3rem;
    color: black;
    margin: 0;
    padding: 5rem;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
}

.filtre {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 3rem;
}


.label {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0.5rem;
}

.filtreContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #D92332;
    background-color: #d9777f88;
    border-radius: 1rem;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border: 2px solid #D92332;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0 auto;
}

.occasion1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    text-align: center;
}

.vehiculeContener {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}


.vehiculeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border: 2px solid #D92332;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 3px;
    margin: 0 auto;
    background-color: white;
}

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("/image_ecf/footer.jpg");
        width: 100%;
        height: auto;
        color: white;
        justify-content: space-evenly;
        padding-top: 5rem;
    }

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Rajdhani;
        overflow-x: hidden;
    }
}